.title {
  display: flex;
  padding: 0 17px 10px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  background-color: rgba(108, 144, 186, 1);
}
.text-title {
  color: white;
  height: auto;
  font-size: 75px;
  font-style: Regular;
  text-align: left;
  font-family: Inder;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text-subtitle {
  color: white;
  height: auto;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Inder;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rows {
  gap: 10px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.row {
  gap: 15px;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.service {
  width:32%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(107, 143, 186, 1);
}
.lot-title {
  gap: 10px;
  display: flex;
  padding: 17px 17px 0;
  overflow: hidden;
  align-items: center;
}
.icon {
  width: 55px;
  height: 55px;
}
.text-lot-title {
  color: white;
  height: auto;
  font-size: 30px;
  font-style: Regular;
  text-align: center;
  font-family: Inder;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.description {
  gap: 10px;
  display: flex;
  padding: 17px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.text-lot-description {
  color: white;
  height: auto;
  flex-grow: 1;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inder;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vertical-spacer {
  width: 507.6666564941406px;
  height: 108px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.button-wrapper {
  gap: 10px;
  display: flex;
  padding: 17px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(70, 107, 151, 1);
}
.text-button {
  color: white;
  width: 542px;
  height: auto;
  font-size: 18px;
  font-style: Regular;
  text-align: left;
  font-family: Inder;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.fake-service {
  width:32%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(163, 205, 248, 1);
}
.fake-button-wrapper {
  gap: 10px;
  display: flex;
  padding: 17px;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(163, 205, 248, 1);
}
